<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/404.css">
    <title>404 | Not Found!</title>
</head>

<body>
    <div id="main">
        <div class="fof">
            <h1>Error 404</h1>

            <div class="text-center mt-4 mb-5">
                <input type="button" onclick="location.href='/';" value="Go back to Home Page" />
            </div>
        </div>
    </div>
</body>

</html>